body {
  margin: 0;
  font-family: Arial, sans-serif;
}

        .assinatura-container {
            display: grid;
            grid-template-columns: 1fr; /* Uma coluna */
            gap: 20px; /* Espaçamento entre os elementos da grid */
            max-width: 800px; /* Largura máxima do container */
            margin: 0 auto; /* Centraliza o container horizontalmente */
        }

        .assinatura {
            border: 1px solid #cccccc; /* Borda para visualização */
            padding: 20px; /* Espaçamento interno */
            border-radius: 8px; /* Bordas arredondadas */
            background-color: #f9f9f9; /* Cor de fundo */
        }

        .assinatura .info {
            display: flex; /* Usa flexbox para alinhar itens */
            justify-content: space-between; /* Distribui espaço entre itens */
            margin-bottom: 10px; /* Espaçamento abaixo dos itens */
        }

        .assinatura .info p {
            margin: 0; /* Remove margens dos parágrafos */
        }

        .assinatura .info .nome {
            flex: 1; /* Faz com que o nome ocupe o máximo de espaço disponível */
        }

        .assinatura .info .cargo {
            flex: 2; /* Ajusta o espaço ocupado pelo cargo */
        }

        .assinatura .info .cpf {
            flex: 1; /* Ajusta o espaço ocupado pelo CPF */
            text-align: right; /* Alinha o CPF à direita */
        }

.header {
  background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
  z-index: 10;
  position: fixed; /* Cabeçalho fixo */
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

@media print {
  .header {
    width: 100%;
    padding: 10px; /* Ajuste o padding para a impressão */
    text-align: center; /* Garante que o conteúdo (imagem) seja centralizado */
  }

  #header-logo {
    width: 100px; /* Mantém o tamanho da imagem na impressão */
    height: 100px;
    margin: 0 auto; /* Centraliza a imagem horizontalmente durante a impressão */
  }

  .div-pusher {
    height: 77px; /* Altura do espaço reservado para o cabeçalho na impressão */
  }

  .printer-table {
    width: 100%;
    border-collapse: collapse; /* Colapsa as bordas da tabela */
  }

  @page {
    margin-top: 100px; /* Espaço reservado para o cabeçalho */
  }
}

.main {
  margin-top: 100px; /* Margem para evitar sobreposição com o cabeçalho fixo */
}

.container {
  padding: 20px; /* Espaçamento interno da container */
}
